<div class="containter">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center" >
                    <h1>Sign Up</h1>
                    <h6>Please, fill the form</h6>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="mb-3">
                        <label for="InputUsername" class="form-label">Username</label>
                        <input type="text" formControlName="username" class="form-control" id="InputUsername">
                    </div>
                    <div class="mb-3">
                      <label for="InputEmail" class="form-label">Email address</label>
                      <input type="email" formControlName="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone" class="form-label">Phone number</label>
                        <input type="phone" formControlName="phone_no" class="form-control" id="InputPhone">
                      </div>
                    <div class="mb-3">
                        <label for="InputFirstName" class="form-label">First name</label>
                        <input type="text" formControlName="first_name" class="form-control" id="InputFirstName">
                    </div>
                    <div class="mb-3">
                        <label for="InputLastName" class="form-label">Last name</label>
                        <input type="text" formControlName="last_name" class="form-control" id="InputLastName">
                    </div>
                    <div class="mb-3">
                      <label for="InputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password1" class="form-control" id="InputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword2" class="form-label">Confirm password</label>
                        <input type="password" formControlName="password2" class="form-control" id="InputPassword2">
                      </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                  </form>
                  <a style="color: #ffff; margin-top: 10px;" routerLink="/login">Back to login page</a>
            </div>
        </div>
    </div>
</div>