<div class="containter bg-light">
    <div class="row">
        <div class="header">
        <header class="p-3">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="http://localhost:4200/wish-lists" class="nav-link px-2 text-white">Wish lists</a></li>
                <li><a href="http://localhost:4200/friends" class="nav-link px-2" style="color: #d3d3d3;">Friends</a></li>
                <li><a href="http://localhost:4200/gifts" class="nav-link px-2" style="color: #d3d3d3;">Gifts</a></li>
                </ul>

                <div class="text-end">
                <button type="button" (click)="logout()" class="btn btn-outline-light me-2">Logout</button>
                </div>
            </div>
        </header>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngFor="let list of this.lists" class="col">
                  <div class="card shadow-sm" style="cursor: pointer;" (click)="goToList(list.id)">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" focusable="false">
                        <defs>
                            <linearGradient id="grad1">
                              <stop offset="5%" stop-color="#F60" />
                              <stop offset="95%" stop-color="#FF6" />
                            </linearGradient>
                          </defs>
                        <rect class="rect" width="100%" height="100%" fill="url(#grad1)"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em" dominant-baseline="middle" text-anchor="middle">{{list.name}}</text>
                    </svg>
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" (click)="goToList(list.id)" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" (click)="editList(list.id)" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="deleteList(list.id)" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card shadow-sm" style="height: 290px; cursor: pointer;" (click)="addList()">
                  <div class="d-flex justify-content-center align-items-center card-body" style="height: 100vh"  width="100%" height="225" >
                    <button class="btn gradient-custom" style="color: white;">
                      + Add new WishList
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>