<div class="containter">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center" >
                    <h1>Login</h1>
                    <h6>Please, enter username and password</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="InputEmail" class="form-label">Email address</label>
                      <input type="email" formControlName="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="InputPassword" class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" id="InputPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a style="color: #ffff; margin-top: 10px;" routerLink="/register">Sign up if you're new here!</a>
            </div>
        </div>
    </div>
</div>